/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 7 Ιουλ 2019, 5:21:06 μμ
    Author     : Dimitris-pc
*/

.lobster {
    font-family: "Lobster", serif;
}
.orbitron{
    font-family: "Orbitron", sans-serif;
}
body{
    background-image: url("../img/ezgif.com-resize.gif") ;

    background-size: 100%;

}
.min{
    width:20px;
    height:20px;
}